body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cambria";
    min-height: 100vh;
    overflow-x: hidden 
}

.container{
    position: relative;
    width: 100%;
}

.navigation{
    position: fixed;
    width: 247px;
    height: 100%;
    background-color:darkblue;
    border-left: 5px solid #F5F5F5;
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active{
    width: 80px;
}

.navigation ul{
    position: absolute;
    top: 0;
    left: 100;
    width: 100%;
    list-style-type: none;
}

.navigation ul li{
    position: relative;
    width: 200%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li:hovered{
    background: white;
}

.navigation ul li:nth-child(1){
    margin-bottom: 20px;
    pointer-events: none;
}

.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration:none;
    color: aliceblue;
}

.navigation ul li:hover,
.navigation ul li:hovered a{
    color:bisque;
}

.navigation ul li a .icon{
    position:relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon{
    font-size: 1.75em;
}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

navigation ul li:hover a::before,
.navigation ul li:hovered a::before{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px white;
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li:hovered a::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px white;
    pointer-events: none;
}

.main{
    position: absolute;
    width: calc(100% - 247px);
    left: 257px;
    min-height: 100vh;
    background: white;
    transition: 0.5s;
}

.topbar{
    width: 100%;
    height: 55px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.toggle{
    position: relative;
    top: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
    color: darkblue;
}

.search{
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label{
    position: relative;
    width: 100%;
}

.search label input{
    width: 60%;
    height: 20px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 30px;
    font-size: 14px;
    outline: none;
    border: 1px solid darkblue;
}

.search label ion-icon{
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 1.5em;
}

.cardBox{
    position: relative;
    width: 95%;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.cardBox .card{
    position: relative;
    background: white;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 30px rgba(0,0,0,0.08);
}

.cardBox .card .numbers{
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: darkblue;
}

.cardBox .card .cardName{
    font-size: 1.1em;
    color: darkblue;
    margin-top: 5px;
}

.cardBox .card .iconBox{
    font-size: 3.5em;
    color: darkblue;
}
